In [1]:
from bs4 import BeautifulSoup
import urllib
from selenium import webdriver
from time import sleep
import pandas as pd
import numpy as np

# Webscraping

## Get job_urls of all related search

In [2]:
job_urls = []
vPath = 'C:/Users/Arsyad/Downloads/chromedriver_win32/chromedriver'

In [3]:
driver = webdriver.Chrome(executable_path=vPath)

url_lst = ["https://www.mycareersfuture.sg/search?search=data%20analyst&page={}", #search data analyst
           "https://www.mycareersfuture.sg/search?search=data%20scientist&page={}", #search data scientist
           "https://www.mycareersfuture.sg/search?search=analytics&page={}", #search analytics
           "https://www.mycareersfuture.sg/search?search=machine%20learning&page={}", #machine learning
           "https://www.mycareersfuture.sg/search?search=business%20intelligence&page={}", #business intelligence
           "https://www.mycareersfuture.sg/search?search=business%20analyst&page={}", #business analyst
           "https://www.mycareersfuture.sg/search?search=data%20engineer&page={}", #data engineer
           "https://www.mycareersfuture.sg/search?search=artificial%20intelligence&page={}", #data engineer
           "https://www.mycareersfuture.sg/search?search=ai&page={}",
           "https://www.mycareersfuture.sg/search?search=data&page={}"
          ]
           
for u in url_lst:
    i = 0
    for i in range(0,30):
        driver.get(u.format(i))
        sleep(3) # Wait one second.
        html = BeautifulSoup(driver.page_source, 'lxml')
        for job_card in html.find_all('div', id=lambda x: x and x.startswith('job-card-')):
            job_urls.append('https://www.mycareersfuture.sg'+job_card.find('a')['href'])
      
    
driver.close()

In [4]:
len(job_urls)

2387

In [5]:
job_urls2 = set(job_urls)
len(job_urls2)

1550

In [6]:
#save urls as csv
pd.DataFrame(list(job_urls2)).to_csv('jobs_url_22jul.csv', encoding='utf-8')

In [7]:
job_df = pd.read_csv('jobs_url_22jul.csv')
job_ls = job_df.iloc[:,1].values

In [8]:
len(job_ls)

1550

## Loop through each job_url to get details

In [9]:
companies = []
titles = []
addresses = []
emp_type = []
seniority = []
category = []
salaries = []
responsibilities = []
requirements = []
failed_url = []

driver = webdriver.Chrome(executable_path=vPath)
for ind, url_job in enumerate(job_ls): #error at 1010, to use try except for future runs
    try:
        driver.get(url_job)
        sleep(5)
        html_job = driver.page_source
        soup_job = BeautifulSoup(html_job, 'lxml')
        companies.append(soup_job.find('p', {'id': 'company'}))
        titles.append(soup_job.find('h1', {'id': 'job_title'}))
        addresses.append(soup_job.find('p', {'id': 'address'}))    
        emp_type.append(soup_job.find('p', {'id': 'employment_type'}))
        seniority.append(soup_job.find('p', {'id': 'seniority'}))
        category.append(soup_job.find('p', {'id': 'job-categories'}))
        salaries.append(soup_job.find('div', {'class': 'lh-solid'}))
        responsibilities.append(soup_job.find('div',{'id':'job_description'}))
        requirements.append(soup_job.find('div',{'id':'requirements'}))
    except:
        failed_url.append(url_job)

driver.close()

In [10]:
#create dictionary and iterate through scraped list to append information
lists = [companies, titles, addresses, emp_type, seniority, category, salaries, responsibilities, requirements]
clean = {}
for ind, ls in enumerate(lists):
    clean[ind] = []
    for e in ls:
        try:
            clean[ind].append(e.text)
        except:
            clean[ind].append(np.nan)
#convert dictionary into dataframe and rename columns
df = pd.DataFrame(clean)
df.columns = ['Company', 'Title', 'Address', 'Emp_type', 'Seniority', 'Industry', 'Salary', 'Responsibility', 'Requirements']
df

,Company,Title,Address,Emp_type,Seniority,Industry,Salary,Responsibility,Requirements
0,NTT DATA SINGAPORE PTE. LTD.,Senior Application Developer,"KEPPEL TOWERS, 10 HOE CHIANG ROAD 089315",Contract,"Executive, Senior Executive",Information Technology,"$8,000to$110,000","Roles & Responsibilities Creating complex, en...",Requirements A Bachelor’s degree in Computer S...
1,HP PPS ASIA PACIFIC PTE. LTD.,Business Analyst,1 DEPOT CLOSE 109841,"Permanent, Full Time",Professional,Others,"$8,400to$12,900",Roles & ResponsibilitiesHP is the world’s lead...,RequirementsEducation and Experience Required:...
2,SHOPEE SINGAPORE PRIVATE LIMITED,Software Engineer,"GALAXIS, 1 FUSIONOPOLIS PLACE 138522","Permanent, Full Time",Executive,Information Technology,"$4,400to$8,000",Roles & ResponsibilitiesResponsibilities: De...,RequirementsRequirements: Minimum B.S. degre...
3,PRICEWATERHOUSECOOPERS CONSULTING (SINGAPORE) ...,Data Analytics –Manager,"MARINA ONE EAST TOWER, 7 STRAITS VIEW 018936","Permanent, Contract, Full Time",Manager,Consulting,"$6,200to$9,500",Roles & Responsibilities Advisory - Consulting...,Requirements A good Degree in a quantitative ...
4,Company Undisclosed,Research Fellow,NaN,"Contract, Full Time","Professional, Executive",Others,"$4,000to$5,000",Roles & ResponsibilitiesData Scientist / Progr...,Requirements Doctorate degree in a relevant fi...
5,SOFTENGER (SINGAPORE) PTE. LTD.,Data Center Operation (DC for - Server install...,"SIM LIM TOWER, 10 JALAN BESAR 208787",Contract,Professional,Information Technology,"$3,500to$4,000",Roles & Responsibilities Candidate should have...,RequirementsThe client is looking candidates w...
6,"JPMORGAN CHASE BANK, N.A.","Application Support Analyst, Reference Data Team",NaN,Full Time,Executive,Information Technology,"$6,000to$12,000",Roles & ResponsibilitiesWe are seeking an Appl...,RequirementsQualifications 7-10 years Product...
7,"JPMORGAN CHASE BANK, N.A.",CyberSecurity Business Resiliency Analyst and ...,NaN,Full Time,Executive,Information Technology,"$7,500to$15,000",Roles & ResponsibilitiesWorking in Cybersecuri...,Requirements• Bachelors’ degree in computer sc...
8,ADDSTONES SAS,Data Engineer,120 ROBINSON ROAD 068913,Permanent,Manager,Engineering,"$5,000to$10,000",Roles & ResponsibilitiesGFI is an internationa...,RequirementsDeep analytical skills : Busine...
9,BLUECHIP PLATFORMS ASIA PTE. LTD.,"Associate Director, Portfolio Analytics, Inves...",NaN,Full Time,Manager,Banking and Finance,NaN,Roles & Responsibilities Building of framework...,Requirements Minimum 6 years' relevant experie...
10,ESSENCE GLOBAL MEDIA SINGAPORE PTE. LTD.,Analytics Director,"THE HOUSE OF EDEN, 4 ROBINSON ROAD 048543",Permanent,Senior Management,Advertising / Media,"$90,000to$130,000","Roles & ResponsibilitiesAbout Essence Essence,...",RequirementsA bit about yourself: Degree fro...
11,VIRIDIAN PARTNERS PTE. LTD.,Senior Business Analyst,"SGX CENTRE II, 4 SHENTON WAY 068807",Permanent,Senior Executive,"Consulting , Banking and Finance, General Mana...","$4,000to$4,500",Roles & Responsibilities Develop & present Bus...,"Requirements Experience, knowledge and interes..."
12,KEPPEL DATA CENTRES HOLDING PTE. LTD.,"Senior Engineer, DCIM ( Data Center Infrastruc...","KEPPEL BAY TOWER, 1 HARBOURFRONT AVENUE 098632",Full Time,Executive,Engineering,"$4,500to$6,500",Roles & Responsibilities Ensure DCIM systems ...,"Requirements Degree in Electrical Engineering,..."
13,Republic Polytechnic,School of Management and Communication - Assoc...,9 WOODLANDS AVENUE 9 738964,Contract,NaN,"Education and Training, Public / Civil Service",NaN,Roles & ResponsibilitiesJob Responsibilities F...,NaN
14,OPTIMUM SOLUTIONS (SINGAPORE) PTE LTD,"BA with Specification by example (SBE), ATDD","PLAZA 8 @ CBP, 1 CHANGI BUSINESS PARK CRESCENT...",Contract,"Senior Management, Manager",Information Technology,"$7,000to$10,000",Roles & ResponsibilitiesOptimum Solutions (Com...,RequirementsRequirement : Senior Business Anal...
15,STANDARD CHARTERED BANK,Project Manager,"MARINA BAY FINANCIAL CENTRE, 8 MARINA BOULEVAR...",Full Time,Manager,Banking and Finance,"$6,250to$12,500",Roles & ResponsibilitiesResponsibilities Spear...,Requirements Competencies • Excellent Prog...
16,STANDARD CHARTERED BANK,"Associate, Compliance, Conflicts of Interest &...","MARINA BAY FINANCIAL CENTRE, 8 MARINA BOULEVAR...",Full Time,"Professional, Senior Executive",Banking and Finance,"$3,450to$6,900",Roles & ResponsibilitiesRESPONSIBILITIES: • ...,RequirementsQUALIFICATIONS: • Good educatio...
17,ADDITIVE CIRCUITS (S) PTE LTD,Assistant Engineer (Pre-Production Engineering...,"JURONG, 40 JOO KOON CIRCLE 629064",Full Time,Non-executive,Manufacturing,"$2,000to$3,000",Roles & Responsibilities1. Interprets engin...,RequirementsOccupational Specific: Problem So...
18,SGTech,TeSA pilot programme,79 AYER RAJAH CRESCENT 139955,"Temporary, Contract","Professional, Executive, Senior Executive",Information Technology,"$4,000to$4,000",Roles & ResponsibilitiesIf you are a tech prof...,Requirements Only open to Singapore Citizens /...
19,LOVEBONITO SINGAPORE PTE. LTD.,Head of Data,21 TAI SENG DRIVE 535223,Full Time,Middle Management,Others,"$6,000to$12,000",Roles & ResponsibilitiesThe role You will have...,"RequirementsYou should have / be A Love, Bon..."
20,MAVENTREE TECHNOLOGY PTE. LTD.,System Analyst (GIS),600 SIN MING AVENUE 575733,Permanent,Middle Management,Information Technology,"$4,000to$6,300",Roles & ResponsibilitiesJob Scope : Developme...,Requirements Minimum educational qualification...
21,YARA ASIA PTE. LTD.,Backend Developer (Smallholder Digital Innovat...,NaN,Permanent,Professional,Information Technology,"$5,000to$10,000",Roles & ResponsibilitiesThere are more than 50...,Requirements Web and mobile development (Andro...
22,ORACLE CORPORATION SINGAPORE PTE LTD,Machine Learning Engineer,"SGX CENTRE I, 2 SHENTON WAY 068804",Full Time,Professional,Information Technology,"$5,000to$12,000",Roles & ResponsibilitiesAre you passionate abo...,Requirements Deep understanding and experience...
23,TSA TRAINING SERVICES PTE LTD,Senior Business Analyst,"OC@PASIR PANJANG, 100H PASIR PANJANG ROAD 118524",Permanent,Senior Executive,Others,"$4,000to$6,000",Roles & ResponsibilitiesReporting to the Direc...,RequirementsRequirements: Minimum 3 years exp...
24,TATA CONSULTANCY SERVICES ASIA PACIFIC PTE. LTD.,SAP HANA Developer,NaN,Permanent,Executive,Information Technology,"$6,000to$9,000",Roles & Responsibilities1. Support SAP data so...,Requirements1. Experience with SAP functional ...
25,A*STAR RESEARCH ENTITIES,Research Engineer (Human Language Technology) ...,"UOB PLAZA, 80 RAFFLES PLACE 048624","Contract, Full Time",Professional,Sciences / Laboratory / R&D,"$2,500to$5,000",Roles & ResponsibilitiesAbout the Institute fo...,Requirements Minimum Bachelor degree in lingui...
26,A*STAR RESEARCH ENTITIES,BII - Research Officer (Machine Learning and C...,NaN,"Contract, Full Time",Non-executive,Sciences / Laboratory / R&D,"$2,500to$5,000",Roles & ResponsibilitiesAbout the Bioinformati...,Requirements BSc in computer science and engin...
27,EVAGROUP ASIA PACIFIC PTE. LTD.,Cloud Solution Architect,"HONG LEONG BUILDING, 16 RAFFLES QUAY 048581",Permanent,Professional,Information Technology,"$3,000to$6,000",Roles & ResponsibilitiesContext: EVA Group APA...,RequirementsMandatory Skillset/Experience: Pr...
28,CHARTERHOUSE PTE. LTD.,"Hosted Platforms Lead, APAC (product and pre-s...","BANK OF CHINA BUILDING, 4 BATTERY ROAD 049908",Permanent,Manager,Information Technology,NaN,Roles & ResponsibilitiesThe Manager/Senior Man...,Requirements ~ Analyse data for business insig...
29,INFORMATICA S.E.A. PTE. LTD.,Principal Consultant – Data Governance,NaN,Temporary,Professional,"Consulting , Information Technology","$12,000to$24,000","Roles & ResponsibilitiesAt Informatica, We “DA...",Requirements Your Responsibilities: Provide ...
...,...,...,...,...,...,...,...,...,...
1519,THE SUPREME HR ADVISORY PTE. LTD.,Data Analyst - Gaming attachment 8 Months camb...,"AZ @ PAYA LEBAR, 140 PAYA LEBAR ROAD 409015",Full Time,Professional,Information Technology,"$3,000to$6,000",Roles & Responsibilities• Conduct in-depth pro...,Requirements• Comfortable with bei...
1520,DIMENSION DATA (SINGAPORE) PTE. LTD.,Network Security Consultant,"APERIA, 8 KALLANG AVENUE 339509",Contract,Junior Executive,Information Technology,"$4,500to$8,000",Roles & Responsibilities Bi-monthly after hour...,Requirementsplease email CV to justin.chen@dim...
1521,NTT DATA SINGAPORE PTE. LTD.,Application Consultant (BPM / Java),"KEPPEL TOWERS, 10 HOE CHIANG ROAD 089315",Contract,Professional,Information Technology,"$4,000to$6,500",Roles & Responsibilities Your responsibilities...,RequirementsQualifications Diploma or Univers...
1522,TECHCOM SOLUTIONS ASIA PACIFIC PTE. LTD.,Automation Engineer,"SHENTON HOUSE, 3 SHENTON WAY 068805","Permanent, Contract",Professional,Information Technology,"$4,500to$5,000",Roles & ResponsibilitiesAutomation engineer– n...,Requirements The ideal candidate shall possess...
1523,R SYSTEMS (SINGAPORE) PTE LIMITED,Walkin interviews 29th June 11:00 AM Onwards,"HOI HUP BUILDING, 16 JALAN KILANG 159416",Contract,Executive,Information Technology,"$2,500to$8,000",Roles & ResponsibilitiesPlease find below acti...,RequirementsPlease bring along your Resume
1524,KELLY SERVICES (SINGAPORE) PTE. LTD.,SAS Development Lead,"ASIA SQUARE TOWER 1, 8 MARINA VIEW 018960",Contract,Professional,Information Technology,"$5,000to$7,500",Roles & ResponsibilitiesKey Responsibilities ...,RequirementsKey Requirements Experienced wo...
1525,Ministry of Communications and Information,Assistant Director / Senior Manager (Corpora...,NaN,Temporary,NaN,Public / Civil Service,NaN,Roles & ResponsibilitiesYou will strategise an...,NaN
1526,THE SUPREME HR ADVISORY PTE. LTD.,IT Account Manager (ITSM / Cyber Security / Cl...,"AZ @ PAYA LEBAR, 140 PAYA LEBAR ROAD 409015",Permanent,Executive,Information Technology,"$2,000to$2,800",Roles & Responsibilities• Attractive salary pa...,Requirements• Attractive salary packages • Com...
1527,STANDARD CHARTERED BANK,Business Analyst (PBWM),"MARINA BAY FINANCIAL CENTRE, 8 MARINA BOULEVAR...","Permanent, Full Time",Executive,Banking and Finance,"$5,000to$9,000",Roles & ResponsibilitiesAbout Standard Charter...,RequirementsOur Ideal Candidate Must have pre...
1528,EIRE SYSTEMS SINGAPORE PTE. LTD.,System Engineer - Data Centre Automation,"KEPPEL TOWERS, 10 HOE CHIANG ROAD 089315",Full Time,Professional,Information Technology,"$4,000to$5,000","Roles & Responsibilities Implementation, monit...",Requirements Knowledge of ITIL processes and m...
1529,Company Undisclosed,"Director, Business Intelligence, South-East Asia","ODEON TOWERS, 331 NORTH BRIDGE ROAD 188720","Permanent, Full Time","Middle Management, Manager","Consulting , Risk Management, Professional Ser...","$10,000to$13,000",Roles & ResponsibilitiesControl Risks is a spe...,RequirementsKnowledge and experience The ideal...
1530,SYNGENTA ASIA PACIFIC PTE. LTD.,Regional Planner,"KEPPEL BAY TOWER, 1 HARBOURFRONT AVENUE 098632",Full Time,Manager,Manufacturing,"$65,000to$80,000",Roles & ResponsibilitiesRegional Planner APAC ...,RequirementsWe are looking for: At least 3-5 ...
1531,DECISION SCIENCE AGENCY PTE. LTD.,Japanese Speaking Web Analyst,38B CRAIG ROAD 089676,Permanent,Executive,"Consulting , Information Technology, Others","$4,000to$6,000",Roles & ResponsibilitiesDecision Science Agenc...,RequirementsJob Requirements Proficiency in s...
1532,NANYANG TECHNOLOGICAL UNIVERSITY,Research Associate,"NANYANG TECHNOLOGICAL UNIVERSITY, 50 NANYANG A...","Contract, Full Time",Professional,"Engineering, Sciences / Laboratory / R&D","$4,000to$6,000",Roles & ResponsibilitiesWho are we looking for...,Requirements A Master degree in a relevant dis...
1533,Company Undisclosed,Data Scientist,NaN,"Permanent, Full Time",Non-executive,"Engineering, Manufacturing","$3,200to$5,500",Roles & ResponsibilitiesResponsibilities: Alig...,RequirementsRequirements: •Doctorate Degree or...
1534,DAIICHI JITSUGYO ASIA PTE. LTD.,Human Resource Executive,NaN,Full Time,Executive,Human Resources,"$5,500to$6,000",Roles & ResponsibilitiesThe Human Resource Exe...,Requirements~ Develop frequently asked questio...
1535,Company Undisclosed,Datawarehouse Consultant,NaN,"Contract, Full Time",Executive,Information Technology,"$4,500to$6,500",Roles & ResponsibilitiesThe Power BI developer...,Requirements 3+ years experience developing an...
1536,DBS BANK LTD.,"AVP, Mobile Delivery Manager, Group Consumer B...",NaN,"Permanent, Full Time","Manager, Professional",Banking and Finance,"$6,500to$13,000",Roles & ResponsibilitiesJob Purpose The deliv...,Requirements The successful candidate will hav...
1537,FLOW TRADERS ASIA PTE. LTD.,Quantitative Researcher,"ASIA SQUARE TOWER 1, 8 MARINA VIEW 018960",Permanent,Fresh/entry level,Banking and Finance,"$6,500to$8,500",Roles & ResponsibilitiesDo you love solving pu...,RequirementsWhat You Need to Succeed: An acad...
1538,Company Undisclosed,Marketing Analyst Manager,NaN,Full Time,Manager,Information Technology,"$10,000to$15,000",Roles & ResponsibilitiesThe roles will report ...,Requirements Must be highly technical/strong s...
1539,CITIBANK N.A.,O&T - TTS APAC Technology Payments and Receiva...,NaN,Full Time,Senior Executive,Banking and Finance,"$8,000to$10,500",Roles & ResponsibilitiesJob Description: APA...,RequirementsQualification: Bachelor Degree i...
1540,HARIDASS HO & PARTNERS,Part Time Data Entry,"CLIFFORD CENTRE, 24 RAFFLES PLACE 048621","Part Time, Temporary",Fresh/entry level,"Accounting / Auditing / Taxation, Admin / Secr...",NaN,Roles & ResponsibilitiesData Entry to assist A...,RequirementsPreferably with accounting backgro...
1541,KERRY CONSULTING PTE. LTD.,APAC Business Analyst – Specialty chemicals,"SUNTEC TOWER FOUR, 6 TEMASEK BOULEVARD 038986","Permanent, Full Time",Senior Executive,Banking and Finance,"$5,000to$7,500",Roles & Responsibilities• Global specialty che...,RequirementsThe successful candidate will poss...
1542,BGC GROUP PTE. LTD.,Data Entry Officer / Public Surveyor,"OCEAN FINANCIAL CENTRE, 10 COLLYER QUAY 049315","Contract, Full Time","Fresh/entry level, Non-executive","Others, Public / Civil Service","$1,800to$2,000",Roles & ResponsibilitiesBGC Group is hiring 50...,RequirementsRequirements Only Singaporeans ne...
1543,Company Undisclosed,NVE Product Engineer (Dispo),NaN,"Permanent, Full Time",Non-executive,"Engineering, Manufacturing","$3,400to$6,800",Roles & ResponsibilitiesJob Responsibilities: ...,RequirementsRequirements: •Bachelor's/Master's...
1544,DENTSU AEGIS NETWORK ASIA PACIFIC PTE. LTD.,Software Engineer,"GUOCO TOWER, 1 WALLICH STREET 078881",Full Time,Junior Executive,Information Technology,"$2,500to$4,000",Roles & ResponsibilitiesAbout the role We are ...,RequirementsQualifications and Education Requi...
1545,SIEMENS HEALTHCARE PTE. LTD.,Digital Ecosystem & Teamplay Business Developm...,"THE SIEMENS CENTRE, 60 MACPHERSON ROAD 348615",Permanent,Manager,Healthcare / Pharmaceutical,"$6,500to$8,000",Roles & ResponsibilitiesSiemens Healthineers i...,RequirementsWhat do I need to qualify for the ...
1546,"STANDARD & POOR'S INTERNATIONAL,LLC","Senior Analyst, Sales Operations","MARINA BAY FINANCIAL CENTRE, 12 MARINA BOULEVA...",Full Time,Executive,Banking and Finance,"$8,000to$13,000",Roles & ResponsibilitiesThe Role: The position...,RequirementsQualifications: 4-6 years of prof...
1547,ACCENTURE PTE LTD,Digital API Architect,"RAFFLES CITY TOWER, 250 NORTH BRIDGE ROAD 179101","Permanent, Full Time","Senior Management, Middle Management, Manager,...",Information Technology,"$4,000to$8,000",Roles & ResponsibilitiesJoin Accenture and hel...,RequirementsBasic Qualifications: Minimum of ...
1548,A*STAR RESEARCH ENTITIES,Scientist (Neuromorphic Computing Programme) ...,"UOB PLAZA, 80 RAFFLES PLACE 048624","Contract, Full Time",Professional,Sciences / Laboratory / R&D,"$4,500to$9,000",Roles & ResponsibilitiesAbout the Institute fo...,"Requirements PhD in Machine Learning, Computer..."

In [11]:
#save dataframe into csv
df.to_csv('jobs_df_22jul.csv', encoding='utf-8')